<table class="table">
    <tr>
        <th>Suma wszystkich wydatków</th>
        <th>Suma wydatków: Tankowanie</th>
        <th>Suma wydatków: Myjnia</th>
        <th>Suma wydatków: Serwis</th>
        <th>Suma wydatków: Inne</th>
        <th>Suma wydatków: Wydatki</th>
        <th></th>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><label class="switch"><input type="checkbox"><span class="slider"></span>
      </label></td>
    </tr>
</table>