<!-- <label class="switch"><input type="checkbox" ng-checked="onWydatki(1)"><span class="slider"></span></label> -->
<button class="btn btn-danger" (click)="onWydatki(0)">Pełne statystyki</button>
<button class="btn btn-success" (click)="onWydatki(1)">Ten miesiac</button>

<table class="table">
    <tr>
        <th>Kategoria</th>
        <th>Kwota</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tr *ngFor="let kategoria of kategorie">
      <td>{{kategoria}}</td>
      <td>{{lacznaKwota(kategoria)| number:'1.2-2'}} zł</td>
      
    </tr>
    
</table>

<h3>Suma wszystkich wydatków: {{lacznaKwotaRaw | number:'1.2-2'}} zł</h3>